h1 {color: red}
body{border:5px dotted red;
     padding: 30px;
     background-color: pink;
}
p {color: red}
body{border:5px dotted red;
padding: 30px;
  background-color: pink;
  
  #coffee {
              border: 2px dotted black;
    text-size: 30px; 
}
#MainBits {
    border: 5px solid orange;
    margin: 3px;
    background-color: #ffad7d;
}
#imageborder {
    border: 5px solid orange;
    margin: 4px;
    background-color: #f0b859;
}